html, body {
  position: relative;
}

body {
  text-align: center;
  font-family: 'Lato';
  padding-top: 20px;
}

.column {
  border: 2px solid black;
  width: 10px;
  margin-right: 5px;
  display: inline-block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
}

section {
  position: relative;
  margin: 0 auto;
  height: 100%;
}

.row {
  width: 100%;
  height: 50px;
  background: inherit;
}

textarea {
  text-align: center;
  width: 90%;
  font-family: inherit;
  font-size: 25px;
  height: 30px;
  border: none;
  overflow: hidden;
  outline: none;
  box-shadow: none;
  resize: none;
  margin-bottom: 10px;
}

p {
  margin: 0;
  font-size: 25px;
  height: 30px;
  margin-bottom: 20px;
}

iframe { display: none; }