html, body {
  position: relative;
  height: 100%;
}

body {
  text-align: center;
  font-family: 'Lato';
  padding-top: 20px;
}

.column {
  border: 2px solid black;
  width: 10px;
  margin-right: 5px;
  display: inline-block;
}

h1 {
  display: inline-block;
  padding: 3px 10px;
  border-bottom: 3px solid black;
  margin-bottom: 15px;
}

h2 {
  font-size: 1.5em;
  margin: 0;
}

section {
  position: relative;
  margin: 0 auto;
  height: 100%;
}

.row {
  width: 100%;
  height: 50px;
  background: inherit;
}

textarea {
  text-align: center;
  width: 90%;
  font-family: inherit;
  font-size: 25px;
  height: 30px;
  border: none;
  overflow: hidden;
  outline: none;
  box-shadow: none;
  resize: none;
  margin-bottom: 10px;
}

p {
  margin: 0;
  font-size: 25px;
  height: 30px;
  margin-bottom: 20px;
}

footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

h6 {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
  transition: 0.5s;
}

a:hover {
  border-bottom-color: rgba(0,0,0,0);
}